<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Raghu &amp; Manisha</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#invite">Invite</a>
                </li>
                <li>
                    <a href="#wedding">The Wedding</a>
                </li>
                <li>
                    <a href="#album">Photo Album</a>
                </li>
                <li>
                    <a href="http://www.seeliveevents.com/livevideo" target="_blank">Live</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<section class="cover-page" id="cover" role="banner" style="background-image: url(&quot;../assets/images/img_bg_2.jpg&quot;); background-position: 0px 5.2px;"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                        <h1>Raghu &amp; Manisha</h1>
                        <h2>We Are Getting Married</h2>
                        <div class="simply-countdown simply-countdown-one">
                            <div class="simply-section simply-days-section">
                                <countdown-timer class="timer" [end]="'2018-08-27 24:00:00'"></countdown-timer>
                                <div>
                                    <span class="simply-word" style="padding-left:15px">days</span>
                                    <span class="simply-word" style="padding-left:30px">Hours</span>
                                    <span class="simply-word" style="padding-left:20px">Minutes</span>
                                    <span class="simply-word" style="padding-left:10px">Seconds</span>
                                </div>
                            </div>
                        </div>
                        <p>
                            <a href="#invite" class="btn btn-default btn-sm">Save the date</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="groom-bride" id="invite">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box fadeInUp animated-fast">
                <h2>Hello!</h2>
                <h3>August 28th, 2018 TG, India</h3>
                <p>We invited you to celebrate our wedding</p>
            </div>
        </div>
        <div class="couple-wrap animate-box fadeInUp animated-fast">
            <div class="couple-half">
                <div class="groom">
                    <img src="../assets/images/bride.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Raghu Pasunuri</h3>
                    <p>“I cannot promise you an easy life, or that I will not disappoint you. I cannot promise that I will be
                        the perfect husband. But I can promise you that I will choose to love you every day.”</p>

                </div>
            </div>
            <!-- <p class="heart text-center">
                <i class="icon-heart2"></i>
            </p> -->
            <div class="couple-half">
                <div class="bride">
                    <img src="../assets/images/groom.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Manisha</h3>
                    <p>Being your wife has made me so happy. It’s even better than my most beautiful daydreams and my most favorite
                        childhood fairytale. This one is real. Our love is real. Thank you for coming into my life. I love
                        you so much!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-event" class="event" id="wedding" style="background-image: url(&quot;../assets/images/img_bg_3.jpg&quot;); background-position: 0px 5.2px; background-repeat: no-repeat; background-size: cover;"
    data-stellar-background-ratio=0.5;>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box fadeInUp animated-fast" style="margin-top:20px">
                <span class="sp-event">Our Special Events</span>
                <h2>Wedding Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box fadeInUp animated-fast" style="min-height:500px">
                                <h3>Main Ceremony</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span> Nov 24, 2017 ( Friday Night )</span>
                                    <span>Muhurtham Time: 12.47 AM </span>
                                    <span>Live starts at 6AM (PST), 8AM(CST), 7:30PM(IST)</span>
                                </div>
                                <h3>Address</h3>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span> Jyothi Convention Hall</span>
                                    <span>Near Benz circle, Vijayawada, AP, India</span>
                                </div>
                                <p>We are very happy as we are getting married. Do us the honor by coming to our wedding party.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="eventy-wrap animate-box fadeInUp animated-fast" style="min-height:500px">
                                <h3>Reception</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span> Nov 24, 2017 ( Friday Night )</span>
                                    <span>Muhurtham Time: 12.47 AM </span>
                                </div>
                                <h3>Address</h3>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Monday 28</span>
                                    <span>November, 2016</span>
                                </div>
                                <p>You're invited to attend our Reception Event. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="album" class="photoalbum">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" style=" margin-top: 15px;">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
        </div>
    </div>
</section>
<section id="tq" class="end" style="background-image: url(&quot;../assets/images/gallery-9.jpg&quot;); background-position: 0px 5.2px; background-repeat: no-repeat; background-size: cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box fadeInUp animated-fast">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Are You Attending?</h2>
                <h4>Please book the date on your calendar as you are requested to be present at my wedding to shower us with
                    your blessings. </h4>
                <p>Thank you !!!!</p>
            </div>
        </div>

    </div>
</section>
<footer class="footer pb-70 pt-70" style="margin: 30px 0">
    <div class="container">
        <div class="row">
            <div class="text-center col-sm-12">
                <p class="heavy uppercase normal">© 2018 Raghu & Manisha. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
