.cover-page {
  height: 900px;
  margin-top: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .display-t {
    display: table;
    height: 900px;
    width: 100%;
    .display-tc {
      color: #fff;
      font-family: "Pacifico", cursive;
      display: table-cell !important;
      vertical-align: middle;
      h1 {
        margin-bottom: 0px;
        line-height: 1.5;
        font-size: 55px;
      }
      .btn {
        margin-top: 20px;
        padding: 20px 20px;
        background: #fff !important;
        color: #f14e95;
        border: none !important;
        font-size: 14px;
        text-transform: uppercase;
      }
      .simply-countdown {
        margin-bottom: 2em;
        > .simply-section {
          display: inline-block;
          width: 500px;
          height: 150px;
          background: rgba(241, 78, 149, 0.8);
          margin: 0 4px;
          border-radius: 20%;
          position: relative;
          animation: pulse 1s ease infinite;
          .timer {
            font-size: 60px;
          }
          .simply-amount {
            display: block;
            color: white;
          }
          .simply-word {
            color: rgba(255, 255, 255, 0.7);
            text-transform: uppercase;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.groom-bride {
  min-height: 450px;

  h2 {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 700;
    color: #ff5733;
    font-family: "Sacramento";
  }
  p {
    font-size: 24px;
    line-height: 1.5;
    color: #828282;
    font-family: "Dancing Script";
  }
  .heart{
    position: relative;
    width: 100px;
    height: 0px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 0px;
    top: 0;
    width: 30px;
    height: 45px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
            margin-top: 50px;
}
.heart:after{
    left: -30px;
    margin-top: 50px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

  // .heart {
  //   position: absolute;
  //   top: 4em;
  //   left: 0;
  //   right: 0;
  //   z-index: 99;
  //   animation: pulse 1s ease infinite;
  //   i {
  //     font-size: 20px;
  //     background: #fff;
  //     padding: 20px;
  //     color: #f14e95;
  //     border-radius: 50%;
  //   }
  //   [class^="icon-"],
  //   [class*="icon-"] {
  //     font-family: "icomoon" !important;
  //     speak: none;
  //     font-style: normal;
  //     font-weight: normal;
  //     font-variant: normal;
  //     text-transform: none;
  //     line-height: 1;
  //   }
  //   .icon-heart2:before {
  //     content: "\e9b5";
  //   }
  // }
  .text-center {
    text-align: center;
  }
  .couple-half {
    width: 50%;
    float: left;
    p {
      margin-bottom: 20px;
    }
    .groom {
      float: right;
      margin-right: 5px;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    .desc-groom {
      padding-right: 180px;
      text-align: right;
    }

    .text-center {
      text-align: center;
    }
    .bride {
      float: left;
      margin-left: 5px;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    .desc-bride {
      padding-left: 180px;
      text-align: left;
    }

    h3 {
      font-size: 30px;
      color: #ff5733;
      font-weight: 700;
      font-family: "Sacramento";
    }
    @media (max-width: 768px) {
      .groom {
        margin-right: 5px;
        img {
          margin-bottom: 15px;
          margin: 0px 10px 15px 10px;
        }
      }
      .desc-groom {
        padding-right: 20px;
        text-align: right;
      }
      .bride {
        margin-left: 5px;
        img {
          margin-bottom: 15px;
          margin: 0px 10px 15px 10px;
        }
      }
      .desc-bride {
        padding-left: 20px;
        text-align: left;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
.event {
  position: relative;
  .overlay {
    z-index: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  h2 {
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 700;
    color: #f14e95;
    font-family: "Sacramento";
    font-size: 60px;
  }
  .sp-event {
    text-transform: capitalize;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: "Righteous";
    color: lemonchiffon;
  }
  .display-t {
    height: 700px;
    display: table;
    width: 100%;
    .text {
      color: #fff;
      font-family: "Dancing Script";
      font-size: 22px;
      font-weight: 500;
    }
    .display-tc {
      height: 700px;
      display: table;
      width: 100%;
    }
    .event-wrap {
      border: 5px solid rgba(255, 255, 255, 0.5);
      background: rgba(255, 255, 255, 0.1);
      padding: 50px;
      width: 100%;
      float: left;
      border-radius: 4px;
      h3 {
        color: burlywood;
        font-size: 45px;
        line-height: 25px;
        font-weight: 700;
        font-family: "Sacramento";
      }
    }
    .eventy-wrap {
      border: 5px solid rgba(255, 255, 255, 0.5);
      background: rgba(255, 255, 255, 0.1);
      padding: 50px;
      width: 100%;
      float: right;
      border-radius: 4px;

      h3 {
        color: burlywood;
        font-size: 45px;
        line-height: 25px;
        font-weight: 700;
        font-family: "Sacramento";
      }
    }
  }
}
.photoalbum {
  background-color: #d3d3d3;
}
.end {
  height: 900px;
  width: 100%;
  margin-top: -5px;
  position: relative;
  .overlay {
    z-index: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  h2,
  p {
    color: #fff;
    font-family: "kristi";
    font-size: 80px;
    margin: 40px 0;
  }
  h4 {
    color: #fff;
    font-family: "Sacramento";
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .cover-page {
    .display-t {
      display: table;
      height: 500px;

      .display-tc {
        h1 {
          margin-top: 20px !important;
          font-size: 30px;
        }
        h2 {
          font-size: 25px;
        }
        .btn {
          padding: 15px 15px;

          font-size: 12px;
        }
        .simply-countdown {
          margin-bottom: 2em;
          > .simply-section {
            width: 285px;
            height: 100px;
            .timer {
              font-size: 45px;
            }
            .simply-word {
              font-size: 10px;
              padding-left: 15px !important;
            }
          }
        }
      }
    }
  }
  .event {
    h2 {
      font-size: 40px;
    }
    .display-t {
      .text {
        font-size: 20px;
      }
      .event-wrap {
        padding: 5px;
        margin-bottom: 15px;

        h3 {
          font-size: 35px !important;
          line-height: 30px !important;
        }
      }
      .eventy-wrap {
        padding: 5px;

        margin-bottom: 15px;

        h3 {
          font-size: 35px !important;
          line-height: 30px !important;
        }
      }
    }
  }
  .end {
    h2,
    p {
      font-size: 50px;
    }
    h4 {
      font-size: 35px;
      margin: 40px 0;
    }
  }
}
